
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: external-dns-operator
rules:
- apiGroups:
  - ""
  resources:
  - namespaces
  verbs:
  - create
  - delete
  - get
  - list
  - update
  - watch
- apiGroups:
  - externaldns.olm.openshift.io
  resources:
  - externaldnses
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - externaldns.olm.openshift.io
  resources:
  - externaldnses/finalizers
  verbs:
  - update
- apiGroups:
  - externaldns.olm.openshift.io
  resources:
  - externaldnses/status
  verbs:
  - get
  - patch
  - update
